Menu:
        <a href="/dashboard">Dashboard</a> -
        <a href="/user/settings">Settings</a> -
        <a href="/dashboard/parking-history">Parks History</a> -
        <a href="/dashboard/lots-history">Lots History</a> -
        <a href="/dashboard/payments-history">Payments History</a> -
        <a href="/logout">Logout</a>
    <hr>